html body .content .content-wrapper .content-header-title,
.breadcrumb,
.card .card-title {
  text-transform: none;
}

.notify {
	border-radius: 3px;
	padding: 10px;
}

.notify .icon-container{
  margin: auto;;
}

.notify .text-container {
  padding-left: 30px;
}

.notify [data-notify="icon"] {
  font-size: 2em;
}

.notify [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.notify [data-notify="message"] {
	font-size: 80%;
}

.jsgrid-pager {
	padding: 0;
}

.jsgrid {
	padding-bottom: .5em;
}